<h3>Pragmatic Order Shipped</h3>
<p>
  This is just to let you know that we've shipped your recent order:
</p>

<table>
  <tr>
    <th colspan="3">Qty</th>
    <th>Item ordered</th>
    <th>Price</th>
  </tr>
        
  <% LineItem.where(order_id: @order.id).each do |line_item| %>
  <tr>
    <td class="quantity"><%= line_item.quantity %></td>
    <td><%= line_item.product.title %></td>
    <td class="price"><%= number_to_currency(line_item.total_price) %></td>
  </tr>
<%end%>

</table>
